.form {
  margin: 10px;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

.policies {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
  background-color: #006135;
  cursor: pointer;
}

.buttonLink{
  text-decoration: none;
  cursor: pointer;
}

.copyrite {
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
  padding-left: 20px;

}

@media only screen and (max-width: 414px) {
  .navbar {
    visibility: visible;
  }

  header {
    visibility: collapse;
  }
}
