.dataContainer {
  width: 90%;
}

.userData {
  background-color: white;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-bottom: 40px;
  font-weight: bold;
}


.dataIcon {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -17px;
  margin-left: 10px;
}

.dataType {
  font-size: xx-large;
}

.deleteButton {
  border: none;
  color: white;
  background-color: rgb(255, 0, 0);
  border-radius: 50px;
  width: 300px;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgb(255, 0, 0);
}
